<div class="calculator">
        <div class="calculatror-hd">
          <input class="calculator-input" type="text" placeholder="点击按钮或直接输入数字" ng-model="expression" ng-modal="tempVal">
        </div>
        <div class="calculatror-bd">
          <div class="calculator-number-btns">
          <button>M+</button>
          <button>M-</button>
          <button>MRC</button>
          <button>1</button>
          <button>2</button>
          <button>3</button>
          <button>4</button>
          <button>5</button>
          <button>6</button>
          <button>7</button>
          <button>8</button>
          <button>9</button>
        </div>
        <div class="calculator-operator-btns">
        </div>
        </div>
</div>